:root {
    --brand: #01b5fb;
    --sub: #6ac754;
    --body: #516171;
    --border: rgba(0,0,0,0.08);
    --shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
}
@media only screen and (max-width: 775px) {
  .sticky-top .main-header-area .classy-nav-container .classy-navbar .nav-brand{
   font-size: 15px;
   font-weight: 800px;
  }
}

  
  .header-carousel .owl-nav .owl-prev {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    border-radius: 50%;
    background: var(--brand);
    color: var(--bs-white);
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
  }
  
  .header-carousel .owl-nav .owl-next {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    border-radius: 50%;
    background: var(--brand);
    color: var(--bs-white);
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
  }
  
  .header-carousel .owl-nav .owl-prev,
  .header-carousel .owl-nav .owl-next {
    transition: 0.5s;
  }
  
  .header-carousel .owl-nav .owl-prev:hover,
  .header-carousel .owl-nav .owl-next:hover {
    box-shadow: inset 150px 0 0 0 var(--bs-light) !important;
    color: var(--brand) !important;
  }
  
  @media (max-width: 576px) {
    .header-carousel .owl-nav .owl-prev,
    .header-carousel .owl-nav .owl-next {
        top: 630px;
        transition: 0.5s;
    }
  
    .header-carousel .header-carousel-item .carousel-caption .carousel-caption-content {
        width: 95% !important;
    }
  
  }
  
  .header-carousel .header-carousel-item,
  .header-carousel .header-carousel-item img {
    position: relative;
    width: 100%;
    height: 650px;
    /* margin-top: 95px; */
    display: block;
    object-fit: cover;
    transition: 0.5s;
  
  }
  
  @media (max-width: 992px) {
    .header-carousel .header-carousel-item,
    .header-carousel .header-carousel-item img {
        margin-top: 0;
        transition: 0.5s;
    }
  
  }
  
  @media (min-width: 992px) {
    .header-carousel .owl-nav .owl-prev,
    .header-carousel .owl-nav .owl-next {
        margin-top: 50px;
    }
  }
  
  .header-carousel .header-carousel-item .carousel-caption {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .5);
  }
  
  .header-carousel .header-carousel-item .carousel-caption .carousel-caption-content {
    position: relative;
    width: 75%;
    
  }
  /*** Carousel Hero Header End ***/
  
  /*** Button Start ***/
  .btn {
    font-weight: 600;
    transition: .5s;
  }
  
  .btn.btn-slide {
    box-shadow: inset 0 0 0 0 white;
    background-color: var(--sub);
    color: white;
    border: none;
  }
  
  .btn.btn-slide:hover {
    box-shadow: inset 300px 0 0 0 var(--brand);
    color: var(--bs-light) !important;
  }
  /*About start*/
  
/*******************************/
/********** About CSS **********/
/*******************************/
.about {
    position: relative;
    width: 100%;
    padding: 45px 0;
  }
  
  .about .section-header {
    margin-bottom: 30px;
    margin-left: 0;
  }
  
  .about .about-img {
    position: relative;
  }
  
  .about .about-img img {
    position: relative;
    width: 100%;
    border-radius: 15px;
  }
    
/*=========== Start facilities_area css =============*/
.facilities_area {
    position: relative;
    z-index: 1;
    overflow: hidden;
  }
  
  .facilities_area .bg-parallax {
    background: url("../img/image/why.jpg") no-repeat fixed center 0/cover;
    opacity: 0.15;
  }
  
  .facilities_item {
    border: 1px solid #777777;
    border-radius: 10px;
    background-color: #330000;
    padding: 31px 40px 37px;
    color: #fff;
    margin-bottom: 30px;
  }
  
  .facilities_item .sec_h4 {
    padding-bottom: 18px;
    color: #fff;
  }
  
  .facilities_item .sec_h4 i {
    color: #f3c300;
    font-size: 24px;
    line-height: 38px;
    display: inline-block;
    vertical-align: bottom;
    padding-right: 20px;
  }
  
  .facilities_item p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0px;
  }
   /*=========== End facilities_area css =============*/
   /*Services start*/
   
  
  
/*--------------------------------------------------------------

# Cta

--------------------------------------------------------------*/

.cta {

    /* background: linear-gradient(to right,rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/SHA-Hydraulic-Scissor-Lift.png") fixed center center; */
    background-color: var(--brand);
  
    background-size: cover;
  
    padding: 120px 0;
  
    margin-bottom: 50px;
  
  }
  
  
  
  .cta h3 {
  
    color: #fff;
  
    font-size: 28px;
  
    font-weight: 700;
  
  }
  
  
  
  .cta p {
  
    color: #fff;
  
  }
  
  
  
  .cta .cta-btn {
  
    font-family: "Raleway", sans-serif;
  
    text-transform: uppercase;
  
    font-weight: 500;
  
    font-size: 15px;
  
    letter-spacing: 0.5px;
  
    display: inline-block;
  
    padding: 8px 26px;
  
    border-radius: 2px;
  
    transition: 0.5s;
  
    margin: 10px;
  
    border-radius: 50px;
  
    border: 2px solid white;
  
    color: #fff;
  
  }
  
  
  
  .cta .cta-btn:hover {
  
    color: var(--brand);
    background: white;
    border: 2px solid white;
  
  }
  
  
  
  @media (max-width: 1024px) {
  
    .cta {
  
      background-attachment: scroll;
  
    }
  
  }
  
  
  
  @media (min-width: 769px) {
  
    .cta .cta-btn-container {
  
      display: flex;
  
      align-items: center;
  
      justify-content: flex-end;
  
    }
  
  }
  
  .cta-one {
  
    background: url("../img/img10.jpg") fixed center center;
  
    background-size: cover;
  
    padding: 120px 0;
  
    margin-bottom: 50px;
  
  }
  
    
/*--------------------------------------------------------------
# Frequently Asked Questions
--------------------------------------------------------------*/
.faq {
    background-color: #f1f8ff;
  }
  
  .faq .faq-list {
    padding: 0 100px;
  }
  
  .faq .faq-list ul {
    padding: 0;
    list-style: none;
  }
  
  .faq .faq-list li+li {
    margin-top: 15px;
  }
  
  .faq .faq-list li {
    padding: 20px;
    background: #fff;
    border-radius: 4px;
    position: relative;
  }
  
  .faq .faq-list a {
    display: block;
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    padding: 0 30px;
    outline: none;
    cursor: pointer;
  }
  
  .faq .faq-list .icon-help {
    font-size: 24px;
    position: absolute;
    right: 0;
    left: 20px;
    color: var(--brand);
  }
  
  .faq .faq-list .icon-show,
  .faq .faq-list .icon-close {
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .faq .faq-list p {
    margin-bottom: 0;
    padding: 10px 0 0 0;
  }
  
  .faq .faq-list .icon-show {
    display: none;
  }
  
  .faq .faq-list a.collapsed {
    color: #343a40;
  }
  
  .faq .faq-list a.collapsed:hover {
    color: var(--brand);
  }
  
  .faq .faq-list a.collapsed .icon-show {
    display: inline-block;
  }
  
  .faq .faq-list a.collapsed .icon-close {
    display: none;
    color: var(--brand);
  }
  
  @media (max-width: 1200px) {
    .faq .faq-list {
      padding: 0;
    }
  }
  
  .tech{
    color: var(--brand);
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
  }  

    /* Path */

.banner-area {

    position: relative;
  
    min-height: 300px;
  
    color: #fff;
  
    background-color: #330000;
  
    background-size: cover;
  
    background-position: center;
  
    background-repeat: no-repeat;
  
  }
  
  
  
  .banner-title {
  
    color: #fff;
  
    /* text-transform: uppercase; */
  
    font-size: 35px;
  
    font-weight: 600;
  
  }
  
  
  
  @media (max-width: 767px) {
  
    .banner-title {
  
      font-size: 25px;
  
    }
  
  }
  
  
  
  @media (max-width: 575px) {
  
    .banner-title {
  
      font-size: 20px;
  
    }
  
  }
  
  
  
  .banner-text {
  
    position: absolute;
  
    top: 50%;
  
    left: 0;
  
    right: 0;
  
    max-width: 1170px;
  
    margin: 0 auto;
  
    width: 100%;
  
    z-index: 1;
  
    -webkit-transform: translateY(-50%);
  
            transform: translateY(-50%);
  
  }
  
  
  
  .banner-heading {
  
    text-align: center;
  
  }
  
  
  
  .breadcrumb {
  
    padding: 0;
  
    background: none;
  
    font-weight: 700;
  
    text-transform: uppercase;
  
    font-size: 12px;
  
  }
  
  
  
  .breadcrumb li a,
  
  .breadcrumb .breadcrumb-item,
  
  .breadcrumb li a:focus {
  
    color: #fff !important;
  
    text-decoration: none;
  
  }
  
  
  
  .breadcrumb li a:hover {
  
    text-decoration: underline;
  
  }
  
  
  
  .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  
    color: #fff;
  
  }

  
/*** Section Title ***/
.section-title {
    position: relative;
    display: inline-block;
  }
  
  .section-title::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 2px;
    top: 50%;
    left: -45px;
    margin-top: -1px;
    background: var(--brand);
  }
  
  .section-title::after {
    position: absolute;
    content: "";
    width: 30px;
    height: 2px;
    top: 50%;
    right: -45px;
    margin-top: -1px;
    background: var(--brand);
  }
  
  .section-title.text-start::before,
  .section-title.text-end::after {
    display: none;
  }
  
  .bn-btn{
    background-color: var(--brand);
    color: white;
    border: 1px solid var(--brand);
    border-radius: 10px;
    font-weight: 500;
  }
  .bn-btn:hover{
    background-color: transparent;
    color: var(--brand);
    border: 1px solid var(--brand);
  }

  /*--------------------------------------------------------------
# Services Section
--------------------------------------------------------------*/
.services .service-item {
    padding: 40px;
    background: #fff;
    height: 100%;
  }
  
  .services .service-item .icon {
    width: 48px;
    height: 48px;
    position: relative;
    margin-bottom: 50px;
  }
  
  .services .service-item .icon i {
    color: var(--body);
    font-size: 40px;
    transition: ease-in-out 0.3s;
    z-index: 2;
    position: relative;
    line-height: 1.8;
  }
  
  .services .service-item .icon:before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: #f0f1f2;
    border-radius: 50px;
    z-index: 1;
    top: 10px;
    right: -15px;
    transition: 0.3s;
  }
  
  .services .service-item h3 {
    color: var(--body);
    font-weight: 700;
    margin: 0 0 20px 0;
    padding-bottom: 8px;
    font-size: 22px;
    position: relative;
    display: inline-block;
    border-bottom: 4px solid #ebebed;
    transition: 0.3s;
  }
  
  .services .service-item p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
  }
  
  .services .service-item .readmore {
    margin-top: 15px;
    display: inline-block;
    color: var(--brand);
  }
  
  .services .service-item:hover .icon:before {
    background: var(--brand);
  }
  
  .services .service-item:hover h3 {
    border-color: var(--brand);
  }
  
  .section-bg {
    background-color: #f5f6f7;
  }
  /*awrds*/
.how-bor2,
.how-bor1 {
  position: relative;
  z-index: 1;
}

.how-bor2::before,
.how-bor1::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border: 3px solid #ccc;
}

.how-bor1::before {
  bottom: -21px;
  left: -21px;
}

@media (max-width: 767px) {
  .how-bor1::before {
    bottom: -21px;
    right: -21px;
    left: auto;
  }
}

.how-bor2::before {
  bottom: -21px;
  right: -21px;
}

.fplus-single-feature {
  padding: 30px 30px 25px;
  background-color: #fff;
  margin-top: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
}

.feature-title {
  margin-bottom: 25px;
}

.feature-title > h5 {
  margin-bottom: 0;
  color: var(--sub);
  font-weight: 900;
}

.fplus-single-feature > p {
  margin-bottom: 0;
  font-size: 14px;
  color: var(--body);
}

.fplus-single-feature:hover{
  background: linear-gradient(to left,rgb(58, 0, 0),rgba(73, 0, 0, 0.527));
}

.fplus-single-feature:hover h5,
.fplus-single-feature:hover p {
    color: white;
}


/* Widget tags */
.widget-tags ul > li {
  float: left;
  margin: 3px;
}

.widget-tags ul > li a {
  border: 1px solid #dadada;
  color: #303030;
  display: block;
  font-size: 25px;
  padding: 3px 15px;
  transition: all 0.3s ease 0s;
}

.widget-tags ul > li a:hover {
  background: var(--brand);
  color: #fff;
  border: 1px solid transparent;
}
/*table*/
/* CSS for both mobile and laptop/desktop views */
.table {
  width: 100%;
  overflow-x: auto;
 
}

.table table {
  width: 60%;
  border-collapse: collapse;
  margin: 0 auto;
}

.table th,
.table td {
  padding:5px;
  border: 1px solid #dddddd;
  text-align: left;
}

/* Optional: Style the table header */
.table th {
  background-color: #f2f2f2;
}

/* Optional: Alternate row colors */
.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Media query for laptop/desktop view */
@media only screen and (min-width: 775px) {
  .table {
      width: auto;
      margin: 0 auto;
  }

  .table th,
  .table td {
      padding: 12px;
  }
}

/* Categories */
.team-member {
  text-align: center;
  cursor: pointer;
}

.team-member .image{
  position: relative;
  z-index: 2;
  overflow: hidden;
  margin-bottom: 30px;
}

.team-member .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: -10%;
  background-color: #330000c0;
  opacity: 0;
  transition: all 0.4s ease;
}

.team-member h5 {
  margin-top: 16px;
  margin-bottom: 4px;
}

.team-member .social-icons {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  opacity: 0;
  transition: all 0.4s ease;
  color: var(--white);
}

.team-member .social-icons a {
  width: 40px;
  height: 40px;
  color: white;
}

.team-member .social-icons .under-link:hover{
  text-decoration: underline;
}

.team-member:hover .social-icons {
  top: 50%;
  opacity: 1;
}

.team-member:hover .overlay {
  top: 0%;
  opacity: 1;
}

.team-member .content {
  position: absolute;
  left: 10%;
  bottom: 5%;
  color: white;
}
.image img{
  filter: brightness(50%);
  object-fit: cover;
}
 /*Tab*/
 /* Styles for larger screen view (768px and above) */
@media (min-width: 768px) {
 
  .tab-class {
    padding: 50px; /* Adjust padding for larger screen view */
  }
}
       
/* Image Gallery */
.untree_co-section {
  padding: 100px 0;
  position: relative;
}

@media (max-width: 991.98px) {
  .untree_co-section {
      padding: 50px 0;
  }
}

.untree_co-section .heading h3 {
  font-size: 35px;
  color: #000000;
}

@media (max-width: 991.98px) {
  .untree_co-section .heading {
      font-size: 20px;
  }
}

.untree_co-section .heading strong {
  font-weight: 700;
}

.item {
  border: none;
  margin-bottom: 30px;
  border-radius: 4px;
  display: block;
}

.item a {
  display: block;
  overflow: hidden;
  position: relative;
  border-radius: 4px;
  display: block;
}

.item a img {
  position: relative;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}

.item .item-wrap {
  display: block;
  position: relative;
}

.item .item-wrap:after {
  z-index: 2;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}

.item .item-wrap > i {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  -webkit-transform: translate(-50%, -50%) scale(0);
  -ms-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
  color: #ffffff;
  font-size: 1.7rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.item .item-wrap:hover:after {
  opacity: 1;
  visibility: visible;
}

.item .item-wrap:hover i {
  margin-top: 0px;
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
}

.item:hover a img {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}

.list {
  list-style: none;
  margin: 0px;
  padding: 0px; }
/*End*/
  

/*** Testimonial ***/
.testimonial-carousel .owl-dots {
  height: 40px;
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonial-carousel .owl-dot {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  width: 15px;
  height: 15px;
  background: transparent;
  border: 2px solid var(--brand);
  transition: .5s;
}

.testimonial-carousel .owl-dot.active {
  width: 30px;
  height: 30px;
  background: var(--brand);
}

.testimonial{
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
}
/*Enter*/
.pdf-viewer {
  width: 500px;
  height: 500px; /* Adjust the height as needed */
  border: none;
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .pdf-viewer {
      height: 300px; /* Adjust the height for mobile view */
      width: 100%; /* Full width for mobile view */
  }

}
/*Tetstimonials*/
     .review-container {
    width: 80%;
    max-width: 800px;
    height:min-content;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.review-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.star-rating {
  display: flex;
  flex-direction:row;
  justify-content: flex-start;
}

.star {
    font-size: 30px;
    color: gray;
    cursor: pointer;
}

.star.selected,
.star:hover,
.star:hover ~ .star {
    color: #f39c12;
    
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    border: none;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

.pagination button[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
}

/* Form label styles */
label {
    display: block;
    margin-top: 20px;
    font-size: 1.2em;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
}

/* Input and textarea styles */
input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1em;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input[type="text"]:focus,
textarea:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
button[type="sub-button"] {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 25px;
    background: linear-gradient(45deg, #6a11cb, #2575fc);
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease;
}

button[type="sub-button"]:hover {
    background: linear-gradient(45deg, #2575fc, #6a11cb);
    transform: translateY(-2px);
}

button[type="sub-button"]:active {
    transform: translateY(0);
    background: linear-gradient(45deg, #6a11cb, #2575fc);
}
#reviews {
    margin-bottom: 20px;
}

.review {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}